#avatar img {
    border-radius: 50%;
    width: 100%;
    filter: grayscale(70%);
    margin: auto;
}

#avatar-name {
    display: none;
}

#contact-avatar-skills {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#skills > h2 {
    text-align: right;
}

#about {
    width: 40%;
}

#avatar {
    display: flex;
    align-items: center;
    width: 20%;
    margin: 2em;
    align-self: center;
    border-style: dotted;
    border-width: 8px;
    border-color: teal;
    border-radius: 50%;
}

#skills {
    width: 40%;
}

.container > h1 {
    text-align: center;
    letter-spacing: 2px;
}

i {
    margin-right: 1em;
}

#skills > ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

#skills > ul > li {
    display: inline-block;
    background-color: teal;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
}