#avatar img {
    border-radius: 50%;
    width: 100%;
    filter: grayscale(70%);
    margin: auto;
}

#sf-icon {
    color: teal;
    width: 16px;
    margin-right: .5em;
}

#avatar-name {
    display: none;
}

#contact-avatar-skills {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#about {
    width: 80%;
}

#avatar {
    display: none;
    align-items: center;
    width: 20%;
    margin: 2em;
    align-self: center;
    border-style: dotted;
    border-width: 8px;
    border-color: teal;
    border-radius: 50%;
}

#skills {
    width: 50%;
}

#skills > ul {
    list-style-type: none;
    padding: 0;
}

#skills > ul > li {
    display: inline-block;
    background-color: teal;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
}

#experience-projects {
    display: flex;
}

#projects,
#education-projects,
#work-experience {
    display: flex;
    flex-direction: column;
}

#education-projects,
#work-experience {
    page-break-after: always;
}

#fuegito,
#internship {
}

#education-awards {
    display: flex;
}

#projects-top a,
#projects-bottom a {
    color: grey;
    font-style: italic;
}

#contact {
    /*width: 40%;*/
}

#education {
}

#projects-top {
    width: 120%;
}

#education-contact {
    border-left: 2px dotted grey;
    border-bottom: 2px dotted grey;
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
}

#education-contact .vertical-divider {
    margin-left: 0;
}

#education-projects .top {
    display: flex;
}

#awards h5 span {
    margin-right: 20px;
}

#awards > div {
    border: 1px dashed grey;
    border-radius: 10px;
    display: inline-block; 
    padding: 10px;
    margin: 5px;
}

#awards h3 {
    margin-top: 0;
}

header {
    text-align: center;
    letter-spacing: 2px;
}

hr {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.divider {
    margin: 20px;
}

.vertical-divider {
    margin-left: 20px;
    margin-right: 20px;
    border-left: 2px dotted grey;
}

.horizontal-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px dotted grey;
}

.header {
    display: flex;
    justify-content: space-between;
    color: grey;
}

i {
    color: teal;
    margin-right: .5em;
}

h2 > i {
    margin-right: .5em;
}

#education ul {
    padding-left: 25px;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
